@import "normalize.css";

body {
  background-color: rgb(42, 42, 42);
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;

  .heading {
    font-weight: 300;
    color: white;
    margin: 1.5rem 0;
  }

  button {
    cursor: pointer;
    padding: 0.5rem 1.75rem;
    border: none;
    border-radius: 0.4rem;
    background: rgb(60, 60, 60);
    color: white;
    font-size: large;
  }

  button:hover {
    background-color: rgb(66, 66, 66);
  }
}

.game {
  display: flex;
  gap: 25vw;

  --cell-size: 2.5rem;

  .player, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 300;
      color: white;
    }
    .board {
      display: grid;
      grid-template-columns: repeat(10, var(--cell-size));
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }
  }

  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-left: 1px solid white;
    border-top: 1px solid white;
  }

  .cell.canClick:hover {
    cursor: pointer;
    background-color: white;
  }

  .player.cell.hasShip {
    cursor: default;
    background-color: white;
  }

  .cell.attacked {
    cursor: default;
    background-color: black;
  }

  .cell.hasShip.attacked {
    cursor: default;
    background-color: rgb(240, 41, 41);
  }
}

.gameOver {
  z-index: 9998;
  position: fixed;
  background-color: rgba(0,0,0,.75);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: white;
    margin: 1.5rem 0;
    opacity: 100%;
  }
}
